asgiref==3.11.1
click==8.3.2
colorama==0.4.6
crispy-bootstrap4==2026.2
cssbeautifier==1.15.4
Django==6.0.3
django-crispy-forms==2.6
django-stubs==6.0.2
django-stubs-ext==6.0.2
djlint==1.36.4
EditorConfig==0.17.1
jsbeautifier==1.15.4
json5==0.14.0
pathspec==1.0.4
pillow==12.2.0
PyYAML==6.0.3
regex==2026.4.4
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
